body{
    background-color: black;
}
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fondo{
    border: 2px solid black;
    width: 830px;
    height: 500px;
    background-color: midnightblue;
    position: absolute;
    top: 50px;
    left: 200px;
    border-radius: 25px;
}

.consolaIzq{
    border: 2px solid black;
    width: 400px;
    height: 470px;
    background-color: brown;
    position: absolute; /*Permite mover por todo el body*/
    top: 65px;
    left: 210px;
    border-radius: 10px;
    border-bottom-right-radius: 75px;
}
.consolaDer{
    border: 2px solid black;
    width: 400px;
    height: 470px;
    background-color: brown;
    position: absolute; /*Permite mover por todo el body*/
    top: 65px;
    left: 620px;
    border-radius: 10px;
}
.pantalla{
    border: 2px solid white;
    width: 380px;
    height: 250px;
    background-color: black;
    position: absolute; /*Permite mover por todo el body*/
    top: 75px;
    left: 220px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px yellow;
}
.nombre{
    background-color: black;
    position: absolute; /*Permite mover por todo el body*/
    top: 190px;
    left: 80px;
    width: 200px;
    height: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px red;
    color: red;
    text-align: center;
    font-weight: bold;
}
.control{
    position: absolute;
    width: 100px;
    top:270px;
    left: 40px;
}
.control:hover{
    position: absolute;
    width: 110px;
    top:270px;
    left: 40px;
}
.botones{
    position: absolute;
    width: 100px;
    top:270px;
    left: 245px;
}
.botones:hover{
    position: absolute;
    width: 110px;
    top:270px;
    left: 245px;
}
.entrada{
    position: absolute;
    border-radius: 15px;
    width: 300px;
    height: 20px;
    top:390px;
    left: 45px;
    text-align: center;
    font-weight: bold;
}
.buscar{
    position: absolute;
    border-radius: 15px;
    width: 80px;
    height: 35px;
    top:420px;
    left: 150px;
}
.buscar:hover{
    position: absolute;
    border-radius: 15px;
    width: 90px;
    height: 40px;
    top:420px;
    left: 145px;
    font-weight: bolder;
}
.imagen{
    width: 300px;
    height: 170px;
    position: absolute; /*Permite mover por todo el body*/
    top: 20px;
    left:40px;
    border-radius: 20px;
}
.imagen:hover{
    width: 400px;
    height: 270px;
    position: absolute; /*Permite mover por todo el body*/
    top: 0px;
    left:0px;
    border-radius: 20px;
}
.tipo{
    padding-top: 8px;
    padding-left: 10px;
    margin: 3px;   
}

.estadisticas{
    border: 2px solid white;
    width: 375px;
    height: 230px;
    background-color: rgb(56, 56, 170);
    position: absolute; /*Permite mover por todo el body*/
    top: 10px;
    left: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px yellow;
    color: white;
}
.movimientos{
    border: 2px solid white;
    width: 375px;
    height: 200px;
    background-color: rgb(56, 56, 170);
    position: absolute; /*Permite mover por todo el body*/
    top: 250px;
    left: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px yellow;
    color: white;
}
.movimiento{
    padding-top: 8px;
    padding-left: 15px;
    margin: 3px;   
}
.movtxt{
    padding-top: 15px;
    padding-left: 15px;
    margin: 3px;  
    font-size: xx-small; 
    text-align: justify;
    padding-right: 5px;
}
#progreshp{
    position: absolute;
    top:45px;
    left: 170px;
    width: 200px; 
}
#progresatk{
    position: absolute;
    top:75px;
    left: 170px;
    width: 200px; 
}
#progresdef{
    position: absolute;
    top:105px;
    left: 170px;
    width: 200px; 
}
#progresspatk{
    position: absolute;
    top:135px;
    left: 170px;
    width: 200px; 
}
#progresspDef{
    position: absolute;
    top:165px;
    left: 170px;
    width: 200px; 
}
#progresspeed{
    position: absolute;
    top:195px;
    left: 170px;
    width: 200px; 
}
